body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.errorMessage {
  color:red; 
  margin-left: 18%; 
  font-style: italic;
}

#sidebar-menu {
  padding: '10px 0 30px 0';
}

.has-arrow waves-effect {
  pointer-events: none;
}

.sidebar-menu-scroll {
  overflow-y: scroll;
}

::-webkit-scrollbar{
  width: 5px;
  cursor:pointer;
}

::-webkit-scrollbar-thumb{
  background-color: rebeccapurple;
  border-radius: 25px;
}